# Ignore experimental directory
data
experimental
outputs
multirun
processed_run_data
visualisation
*.log

# Python files and directories
*.pyc
__pycache__

# Pixi environments
.pixi
pixi.lock
*.egg-info

# Code Assistants
CLAUDE.md

# MacOS
.DS_Store
