# Ignore experimental directory
data
experimental
outputs
multirun
processed_run_data
visualisation
*.log
*.csv
*.pdf

# Python files and directories
*.pyc
__pycache__

# Pixi environments
.pixi
pixi.lock
*.egg-info

# Important private keys
.env

# Code Assistants
AGENTS.md
CLAUDE.md

# MacOS
.DS_Store
